p {
  font-family: Lato;
}
app-top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 68px;
  background-color: #1976d2;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 6px 0 6px rgb(136, 73, 73);
}

app-sidenav {
  position: fixed;
  top: 68px;
  left: 0;
  bottom: 0;
  min-width: 220px;
  background-color: #f6f8fa;
  box-shadow: 6px 0 6px rgba(0,0,0,.1);
  padding-top: 30px;
  padding-left: 20px;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/